:host form {
  display: grid;
  gap: 24px;
}

:host label {
  display: grid;
  gap: 6px;
}

:host input,
:host textarea {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 12px;
  display: block;
  width: 100%;
  font: inherit;
  line-height: inherit;

  .is-invalid > & {
    border-color: red;
  }
}

:host textarea {
  min-height: 120px;
}

:host .label-text {
  .is-invalid > & {
    color: red;
  }
}

:host .error-message {
  display: none;
  color: red;

  .is-invalid > & {
    display: block;
  }
}